body {
    font-family: Arial;
    background: rgb(85, 84, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(14, 13, 13);
    padding: 50px;
    border-radius: 10px;
    width: 400px;
    color: rgb(241, 235, 235);
    text-align: center;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background: #13044c;
    color: rgb(242, 231, 237);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    background: #35286c;
    transform: scale(1.1);
}

.answer-btn {
    display: block;
    width: 100%;
    margin: 5px 0;
    background: #13044c;
    color: rgb(238, 232, 232);
}

.correct {
    background: green !important;
    color: white;
}

.wrong {
    background: red !important;
    color: white;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}