body {
    font-family: Arial;
    background: linear-gradient(to right, #4f89fe, #1900fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background: #301bf0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    background: #5baee2;
    transform: scale(1.1);
}

.answer-btn {
    display: block;
    width: 100%;
    margin: 5px 0;
    background: #abcef3;
    color: black;
}

.correct {
    background: green !important;
    color: white;
}

.wrong {
    background: red !important;
    color: white;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
